*{
    font-family: 'Poppins', sans-serif;
}
.main_section{
    background-color: #E5E5E5;
}
.main-nav{
    border-bottom: 3.3px solid 
    rgba(219, 219, 219, 1); 
}
.nav-link {
    color: rgba(22, 22, 22, 1) !important;
}
.nav-item{
    position: relative;
}
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background: rgb(119, 70, 209);
    position: absolute;
    left: 0;
    bottom: -17px;
    opacity: 0;
}
.nav-item:hover .nav-link::after{
    opacity: 1;
}
.nav-link.active::after{
    opacity: 1;
}
.search_boxxx{
    width: 100%;
    position: relative;
    border-radius: 20px;
    border: 2px solid black; background: #EDEDED;
    padding: 10px;
    border: none;
    margin-right: 40px;
}
.search_box{
    font-size: 13px;
    border: none;
    color: #868686;
    outline: none;
    background-color: transparent; 
    width: 100%;
    margin-left: 20px;
} 
.search-div{
    width: 37%;
}
.search_icon{
    position: absolute;
    top: 18px;
    left: 20px;
    margin-left: -9px;
    color: blue;
    margin-right: 11px;
    font-size: 13px;
}
.link_item{
    color: rgba(22, 22, 22, 1);
}
.alert{
    /* position: relative; */
    width: 10px;
    height: 10px;
    background: #EDEDED;
    margin: 10px;
    cursor: pointer;
}
#notification_box{
    border-radius: 100%;
    margin-bottom: auto;
}
.vector_image{
    position: absolute;
    left: 9px;
    top: 5px;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}
.point{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
}
.ellipse{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.drag{
    cursor: pointer;
    background: #FFFFFF;
    border: 2px dashed #6246FE;
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow: 2px 2px 2px 2px rgba(137, 137, 137, 0.2); 
}
#drag_video{
    background-color: white;
}
.arrow_image{
    margin-top: 13px;
}
@media (max-width:992px) {
    .arrow_box{
        text-align: center;
        padding-top: 0;
    }
    .drag_box{
        text-align: center;
    }
    .arrow_image{
        margin: 0;
    }
}
.drag_heading{
    font-weight: normal;
    Font-size: 36px;   
    font-weight: 700;
}
.duration{
    color: rgba(98, 70, 254, 1);
    margin-top: -10px;
    font-size: 10px;
}
.most_recent_btn{
    border: none;
}
.recent_btn{
    text-align: right;
}
.box_heading{
    font-size: 25px;
    margin-bottom: -1px;
    font-weight: 700;
}
.boxes{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}
.box{
   
    width : 130px;
    border: 2px solid rgba(98, 70, 254, 1);
    border-radius: 10px;
    color: rgba(98, 70, 254, 1);
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
}
.box_para{
    color: rgba(137, 137, 137, 1);
    margin-bottom: -1px;
}
.python_para{
    font-size: 13px;
}
.python_para1{
    font-size: 13px;
    color: rgba(98, 70, 254, 1);
    margin-bottom: -0.2px;
}

.my_video{
    font-weight: bold;
}
.myvideo_div{
    justify-content: space-between;
}
.learn_box{
cursor: pointer;
}
.python_para,.python_heading{
    margin-bottom: -0.2px;
}
.rectangle{
    position: relative;
}
.time{
    position: absolute;
    margin-left: -30px;
    background-color: rgb(127, 127, 133);
    width: 30px;
}
.eye ,.like{
    margin-right:  5px;
    margin-top:  -4px;  
}
.like,.message{
    margin-left: 10px;
    margin-right: 5px;
}
.message{
    margin-right: 5px;
}
.rank_container{
    background-color: #E5E5E5;
}
.last_year{
    background-color: rgba(234, 234, 234, 1);
    padding: 5px;
    border-radius: 5px;
    margin-right: 26px;
}

.last_year1{
    text-align: right;
    margin-right: 20px;
   padding-top: 20px;
}
.jenny_sibas{
    margin-top: -5px;
    border-radius: 100%;
    box-shadow: 0px 13px 14px 17px rgb(185 31 31 / 11%);
}
#aroma_name_head{
    font-weight: bolder;
    color:blue;
    margin-top: 5px;
    padding-bottom: 0;
   
}
#aroma_name_view{
    font-family: 500;
    font-size: 15px;
    margin-top: -7px;
}
.aroma_pavlo{
    margin-top: -5px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0px 13px 14px 17px rgb(229 233 26 / 14%);
}
.Rock_Devian{
    margin-top: -5px;
    border-radius: 100%;
    box-shadow: 10px 20px 10px 10px  rgba(177, 177, 171, 0.2);
}
.aroma_taj{
    position: relative;
}
.taj_images{
    position: absolute;
    left: 32%;
    top: -15%;
    width: 32%;
    
}
.first-prize{
    margin-bottom: 30px;
    font-weight: bold;
}
.third-prize,.Second-prize{
    margin-top: 50px;
    font-weight: bold;
}
.saiima_head{
    font-weight: 600;
}
.saiima_westro{
    background-color: rgba(252, 252, 252, 1);
    border-radius: 10px;
   padding: 5px;
   display: flex;
   margin: 10px;
}
.saiima{
    width: 20%;
}
.views{
     display: flex;
     margin-left: auto;
     margin-top: auto;
}

/* category */

.category,.topics,.uploads{
    background: rgba(255, 255, 255, 1);
    padding: 3px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    
    
}
.pcm,.laws,.dates{
    background-color:rgba(243, 243, 243, 1);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    
}
.heading{
    padding-left: 20px;
    font-weight: 700;
}
.videos_container{
    background-color:#E5E5E5; 
}
.Learning_videos{
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
   
}
.vdo_heading{
    padding: 3px;
    padding-top: 13px;
    font-weight: 700;
    margin-top: 10px;
}
.para_heading{
    margin-left: 10px;
}
@media (max-width:500px) {
    .Learning_videos{
        display: block;
    }
}
.sign-in-btn{
   margin-right: 50px;
}

.sign-up-btn{
    margin-left: 20px;
    margin-right: 10px;
}
@media (max-width:1020px) { 
    .sign-in-btn{
        margin-right: 0px;
    }
    
}
.main_container{
    background-color:#E5E5E5;
  
}
#python_heading{
    font-size: 20px;
    font-weight: bolder;
}

.vdo_btn{
    position: relative;
}

.paly_btn{
    position: absolute;
    top: 40%;
    left: 44%;
    width: 10%;
}
.Play_Button{
    width: 90%;
    cursor: pointer;
}
.blue_bcg{
    position: relative;
    background: #3A7CB4;
    display: flex;
    justify-content: end;
}
.learn_quantaum{
    position: absolute;
    bottom: -4%;
    margin-left: 20px;
}
.quantaum{
    color: rgba(255, 255, 255, 1);
    font-size: 8px;
    margin-bottom: 5px;
}
.learning{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin-bottom: 5px;
}
.leanning_para{
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
    padding-bottom: 10px;
}
.percantage{
    position: absolute;
    bottom: 12px;
    right: 8px;
}
.percantage_seven{
    width: 60%;
}
@media (max-width:500px) {
    .leanning_para,.learning,.quantaum,.learn_quantaum{
        font-size: 5px;
        margin-left: 5px;
    }
}

.language_items{
    display: flex;
    flex-wrap: wrap;
    
}
.Python,.Html5,.Css,.JavaScript,.Csss{
    width: 230px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
@media (max-width:500px) {
    .Python,.Html5,.Css,.JavaScript,.Csss{
        width: 100%;
        margin-right: 0px;
    }
    .language_items{
       
    }
}
.python_class{
    color: black;
    font-size: 13px;
    margin-bottom: 0;
}

/* .{
    width: 230px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
} */


/* .python_div{
    position: absolute;
    bottom: -4%;
    margin-left: 20px;
}
.python_Heading{
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    margin-bottom: 5px;
}
.pythong_para{
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    padding-bottom: 10px;
} */
.one,.two{
    display: flex;
}
@media (max-width :500px) {
    .one,.two{
        /* display: block; */
    }
}
.c,.d{
    width: 340px;
    margin-top: 10px;

}
.a,.b{
    width: 340px;
}
.b,.d{
    margin-left: 20px;
}

@media (max-width:980px) {
    .a,.b{
        margin-top: 20px;
    }
}
@media (max-width:500px) {
    .b,.d{
        margin-left: 0;
    }
}
@media (max-width:500px) {
    .b,.d{
        margin-left: 10px;
    }
}
@media (max-width:1529px) {
    .a,.b,.c,.d,.vdo_btn{
        width: 100%; 
              
    } 
    /* .b,.d{
        margin-left: 5px;
    }  */
    .c,.d{
        margin-top: 10px; 
    }
}
#home_head{
    font-weight: 700;
}
.search_boxx{
    position: relative;
    border-radius: 20px;
    border: 2px solid black; background: #EDEDED;
    padding: 10px;
    border: none;
}
.search_boxxxx{
    border: none;
    color: #868686;
    background-color: transparent; 
} 
.search_iconn{
    position: absolute;
    top: 18px;
    left: 20px;
}

.login_box{
   color: cornsilk;
    border-radius: 10px;
    outline: none;
    /* width: 250px; */
    justify-content: center;
}
.login_box{
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}
.loginn_btn{
   
}
/* .sign_btn{
  background-color: white;
 margin-right: -100px;
 margin-top: 0px;

} */
.modal-content{
    justify-content: center !important;
    background-color:#4456b8 !important;
    /* width : 70% !important; */
}
@media (max-width:400px) {
    .modal-content{
    /* width: 100% !important; */
}
}
.login_sign{
    justify-content: center;
    margin-bottom: 20px;
    
}
.loginn_btn,.sign_btn{
cursor: pointer;
}
.login_otp_btn{
    /* width: 40%; */
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: rgba(98, 70, 254, 1);
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}
.otp_btn{
   text-align: center;
   margin-top: 20px;
}
.social_logo{
    display: flex;
    justify-content: center;  
}
.social{
    width: 45px;
}
.teacher,.student{
    color: white;
    margin-bottom: 10px;
    margin-left: 5px;
    
}
.radio_btn_student{
    margin-left: 5px;
   
}
.login_as,.Enter-veri{
    color: white;
    font-weight: normal;
    font-size: 12px;
}
.wrong-pass{
    color: rgba(252, 127, 127, 1);
    font-size: 12px;
}
.google,.facebook,.in{
    margin: 10px;
    cursor: pointer;
}
.login_other{
    margin-top: 20px;
    color: white;
}
.mob_email{
    background-color: rgba(73, 46, 228, 1) !important;
    margin-top: 10px;
}
.mob_email::-webkit-input-placeholder {
    color: rgb(255, 255, 255)!important;
    opacity: 3!important;
    font-size: 15px;
}
.User_email,.User_Password{
    border: none !important;
    position: relative;
}
.password_div{
    position: relative;
}
.eye_div{
    position: absolute;
    right: 32px;
    top: 226px;
}
.check_btn{
    margin-top: 10px; 
}
.sign_btnnn{
    text-align: center;
   margin-top: 20px;
}
.signnn_up{
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: rgba(98, 70, 254, 1);
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;  
}
.condintion{
    font-size: 15px;
    color: white;
    margin-left: 5px;
    margin-top: -2px;
}
.time_boxes{
    justify-content: space-around;
}
.six_box{
    /* width: 50px;
    height: 50px; */
    padding:  10px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    /* margin-right: 20px; */
    vertical-align: middle;
    color: white;
    background-color: rgba(73, 46, 228, 1);
}

.resend_otp{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: white;
    font-size: 12px;
}
.resend_it{
    cursor: pointer;
    color: white;
}
.juuu{
    position: relative;
}
.time{
    position: absolute;
}
.juii{
    background-color: black;
    max-width: 500px;
}
.modal-content{
    max-width: 500px;
}
.selecet_video{
    background-color: rgb(255, 255, 255);
    max-width: 800px;
}.vdo,.vd{
    max-width: 800px !important;
    min-height: 100% !important;
}
/* #drag_video{
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    padding-top: 50px;
} */

.upload_per_modal{
    display: flex;
    font-size: 15px !important;
    
}
.btn-close{
    margin-left: 0 !important;
}
.upload_percantage{
    display: flex;
    border-radius: 10px ;
    /* margin-left: 200px; */
    background-color: rgba(234, 234, 234, 1);  
    margin-right: 0;
    margin-left: auto;
}
.percantage_nine{
    /* margin-top: 14px; */
    padding-top: 5PX;
    padding-right: 10px;
}
.Uploading{
    background-color: blue;
    /* margin-top: 10px; */
    padding: 5px 0px 5px 5px;
    margin-bottom: 0;
    border-radius: 10px 0px 0px 10px;
}
.Rhs_heading{
    margin-top: auto;
    font-weight: 700;
}
.detail_Qa{
    margin: auto;
    text-align: center;
    border-bottom: 2px solid rgba(197, 197, 197, 1);
    position: relative;
    width: 26.333333% !important;
}
.detail_qa{
    position: absolute;
}
.Details{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(234, 234, 234, 1);
    border: 4px solid rgba(98, 70, 254, 1);
    top: -7px;
    left: -15px;
}
.Qa{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(234, 234, 234, 1);
    border: 4px solid rgba(164, 164, 164, 1);
    top: -7px;
    right: -15px;
}
.Details_heading,.Qa_heading{
    position: absolute;
    font-weight: 700;
}
.Details_heading{
    top: -28px;
    left: -28px;
}
.Qa_heading{
    top: -27px;
    left: 95%;
}
.title_div{
    border: 2px solid  rgba(98, 70, 254, 1);
    border-radius: 5px ;
}
#title_empty{
    margin-top: 40px;
}
.video_title{
    border: none;
    outline: none;
    font-size: 13px;
    max-width: 280px;
    margin-left: 5px;
}
.Title_required{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
}
.Title_required:-webkit-textarea-placeholder{
   margin-left: 10px;
}
#Description_div{
    border: 1px solid rgba(197, 197, 197, 1);
    border-radius: 5px ;
    margin-top: 10px;
}
#Description_textarea{
    border: none;
    outline: none;
    font-size: 13px;
    max-width: 280px;
    margin-left: 5px;
}
.description_class{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}
.Select_inheritance_classes{
    margin-top: 10px;
}
#Select_category{
    padding: 7px 18px 7px 19px;
    border-radius: 5px ;
    color: rgba(164, 164, 164, 1);
    font-size: 15px;
}
#inheritance_classes{
   font-size: 8px;
    font-weight: 700;
    margin-top: 6px;
}
.Video_tags_title{
    display: none;
}
.ohms_law_button{

}
.Video_tags_div{
    border: 1px solid rgba(197, 197, 197, 1);
    border-radius: 5px;
    margin-top: 7px;
}
.ohms_button{
    margin: 5px;
    border: none;
    background-color: rgba(234, 234, 234, 1);
    border-radius: 5px;
    font-size: 10px;
    padding: 3px;
    margin-bottom: 2px;
}
.cross_image{
    width: 18%;
}
.Video_tags{
    font-weight: 700;
    margin-left: 8px;
    font-size: 15px;
    margin-top: 10px;
}
.fade{
    padding-left: 0 !important;
}
.border_bottom_div{
    border-bottom: 2px solid rgba(194, 194, 194, 1);
    margin-top: 10px;
}
.empty_box{
    height: 118px;
    background-color: rgba(196, 196, 196, 1);
    margin-top: 0;
    margin-left: 0;
}
.java_tutorial_box{
    border: 1px solid rgba(197, 197, 197, 1);
    margin-top: 5px;
    border-radius: 5px;
}

.java_tutorial,.upload_custom{
     
    margin: 10px;
}

.right_image{
    position: absolute;
    top: -10%;
    left: 87%;

}
.intoduction_java{
      position: relative;
    margin: 10px;
}
.video_series{
    border: 1px solid rgba(197, 197, 197, 1);
    margin-top: 5px;
    border-radius: 5px;
}
.video_series_heading{
    margin-top: 5px;
    margin-left: 4px;
    font-weight: 700;
}
.java_tutorial_heading{
    margin-top: 5px;
    margin-left: 4px;
    font-weight: 700;
}
.zero_one{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: rgba(36, 161, 56, 1);
    
}
.zero_nine{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: rgba(185, 185, 185, 1);
}
.zero_eight{
    background-color: rgba(239, 158, 0, 1);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.numbers{
    color: white;
    font-size: 10px;
    text-align: center;
     font-weight: normal;
    margin-top: 2px;
}
.video_marks{
    width: 100%;
    border: 1px solid rgba(197, 197, 197, 1);
    position: relative;
    margin-top: 5px;
    padding: 7px;
    border-radius: 5px;
}
.mark_heading{
    position: relative;
    margin-left: 20px;
    margin-bottom: auto;
    font-size: 12px;
    font-weight: 700;
}
#mark{
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid rgba(164, 164, 164, 1);
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    top: 8px;
    left: 10px;
}
.inheritance_classes{
    font-size: 10px;
    margin-bottom: auto;
    padding-top: 5px;
}
.inheritance_box{
    width: 100%;
    border: 1px solid rgba(197, 197, 197, 1);
    padding: 7px;
    margin-left: 10px;
    border-radius: 5px;
}
#next_btn{
    cursor: pointer;
    margin-top: 10px;
    padding: 2px 15px 2px 15px;
}
.next__btn{
    text-align: right;
}
#main_container{
    margin-left: 11px;
    margin-right: 10px;
    margin-top: 10px;
}
.selector-box{
    border: none;
    outline: none;
    background-color: rgba(219, 219, 219, 1);
    margin-left: 10px;
    padding: 0px 30px 0px 0px;
    border-radius: 3px;
    font-size: 12px;
    color: rgba(133, 133, 133, 1);
}
#ques_select_box{
    align-items: baseline;
}
.type_question{
    border: 1px solid rgba(197, 197, 197, 1);
    border-radius: 5px;
    padding: 10px;
}
.que_heading{
    font-weight: 700;
}
.type_heading{
    color: rgba(116, 116, 116, 1);
    font-weight: normal;
   margin-left: 10px;
   margin-bottom: 0;
}
#options{
    /* flex-wrap: wrap; */
    margin-left: 2px;
    margin-top: 10px;
}
#option-1{
    position: relative;
    width: 169px;
    margin-left: 9px;
    border: 1px solid rgba(197, 197, 197, 1);
    border-radius: 5px;
    margin-top: 5px;
    padding:10px;
}
.option_image_logo{
    position: absolute;
    width: 15px;
    top: 12px;
}
.option_heading{
    margin-left: 18px;
    color: rgba(116, 116, 116, 1);
    margin-bottom: 0;
}
#plus{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: rgba(197, 197, 197, 1);
    border-radius: 5px;
    margin-left: 7px;
    margin-top: auto;
}
.plus_logo{
    top: 8px;
    width: 24px;
    left: 8px;
    position: absolute;
}
#plusss div {
    margin-top: 20px;
}
.plus{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: rgba(197, 197, 197, 1);
    border-radius: 5px;
    margin-left: 7px;
    margin: auto;
    margin-top: 20px;
}

@media (max-width:700px) {
    #option-1{
        width: 100%;
        margin-left: 0;
        margin-right: 5px;
    }
    #main_container{
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #options{
        margin-right: 0px;
    }
}
.second_div{
    margin-top: 18px;
}
.bottom_border{
    border-bottom: 2px solid rgba(194, 194, 194, 1);
    margin-top: 20px;
}
#internet_div{
    margin-top: 15px;
    justify-content: space-between;
}
.internet_connection{
    background-color: rgba(189, 29, 29, 1);
    padding: 5px 5px 5px 5px;;
    font-size: 8px;
    color: rgba(255, 255, 255, 1); 
    border-radius: 5px;  
}
#submit_btn{
    margin-top: -10px;
    border-radius: 5px;
    background-color: rgba(98, 70, 254, 1);
}
.submit_sucessfully{
    background-color: rgba(255, 255, 255, 1) !important;
    max-width: 350px;
    margin: auto;
}
.Successful_heading{
    font-weight: 700;
}
.sucessful_border{
    border-bottom: 2px solid rgba(194, 194, 194, 1);
}
.sucessful_image{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.para_sucess{
    text-align: center;
    margin-top: 18px;
    font-weight:700;
}
.okay_button{
    text-align: center;
}
#togel{
    background-color: white;
    border: none;   
    padding-left: 0;
    padding-right: 45px;
}
#togel:focus{
    box-shadow: none;
}
#bcg{
    background-color: rgba(227, 227, 227, 1);
    margin-right: 45px;
}
.disapproved{
    background-color: rgba(244, 80, 80, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
}
.disapproved_div,.approved_div,.Pending_div{
    margin-top: 10px;
}
.approved{
    background-color: green;
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
}
.Pending{
    background-color: rgba(197, 197, 197, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
   
}
#category-head button{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 700;
    padding-left: 1.8rem;
}
#categor_body{
    background-color: rgba(242, 242, 242, 1);
    padding-left: 1.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
}
#category-head{
    margin-bottom: 0;   
}
#categor_body form-check{
    margin-bottom: 0;
}
#category-head button:focus{
    box-shadow: none;
}
 #drop__menu{
    background-color: rgba(242, 242, 242, 1);
   
 }