.main_section{
    background-color: #E5E5E5;
}
.main-nav{
    border-bottom: 3.3px solid 
    rgba(219, 219, 219, 1); 
}
.nav-link {
    color: rgba(22, 22, 22, 1) !important;
}
.nav-item{
    position: relative;
}
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background: rgb(119, 70, 209);
    position: absolute;
    left: 0;
    bottom: -20px;
    opacity: 0;
}
.nav-item:hover .nav-link::after{
    opacity: 1;
}
.nav-link.active::after{
    opacity: 1;
}
.search_boxxx{
    position: relative;
    border-radius: 20px;
    border: 2px solid black; background: #EDEDED;
    padding: 10px;
    border: none;
}
.search_box{
    /* left: 63.28%;
    right: 15%;
    top: 25%;
    bottom: 25%; */
    border: none;
    color: #868686;
    outline: none;
    background-color: transparent; 
} 
.search_icon{
    position: absolute;
    top: 18px;
    left: 20px;
}
.link_item{
    color: rgba(22, 22, 22, 1);
}
.alert{
    /* position: relative; */
    width: 10px;
    height: 10px;
    background: #EDEDED;
    margin: 10px;
    cursor: pointer;
}
#notification_box{
    border-radius: 100%;
}
.vector_image{
    position: absolute;
    left: 9px;
    top: 5px;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}
.point{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
}
.ellipse{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.drag{
    cursor: pointer;
    background: #FFFFFF;
    border: 2px dashed #6246FE;
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow: 2px 2px 2px 2px rgba(137, 137, 137, 0.2); 
}
.drag_heading{
    font-weight: normal;
    Font-style: Regular;
    Font-size: 36px;   
}
.duration{
    color: rgba(98, 70, 254, 1);
    margin-top: -10px;
    font-size: 10px;
}
.most_recent_btn{
    border: none;
}
.recent_btn{
    text-align: right;
}
.box_heading{
    font-size: 25px;
    margin-bottom: -1px;
}
.boxes{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 5px;
}
.box{
    margin: 5px;
    width : 130px;
    border: 2px solid rgba(98, 70, 254, 1);
    border-radius: 10px;
    color: rgba(98, 70, 254, 1);
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
}
.box_para{
    color: rgba(137, 137, 137, 1);
    margin-bottom: -1px;
}
.python_para{
    font-size: 13px;
}
.python_para1{
    font-size: 13px;
    color: rgba(98, 70, 254, 1);
    margin-bottom: -0.2px;
}
.python_heading{
    font-size: 20px;
}
.learn_box{
cursor: pointer;
}
.python_para,.python_heading{
    margin-bottom: -0.2px;
}
.rectangle{
    position: relative;
}
.time{
    position: absolute;
    margin-left: -30px;
    background-color: rgb(127, 127, 133);
    width: 30px;
}
.eye ,.like{
    margin-right:  5px;
    margin-top:  -4px;  
}
.like,.message{
    margin-left: 10px;
    margin-right: 5px;
}
.message{
    margin-right: 5px;
}
.rank_container{
    background-color: #E5E5E5;
}
.last_year{
    background-color: rgba(234, 234, 234, 1);
    padding: 5px;
    border-radius: 5px;
}

.last_year1{
    text-align: right;
    margin-right: 20px;
   padding-top: 20px;
}
.jenny_sibas{
    margin-top: -5px;
    border-radius: 100%;
    box-shadow: 10px 20px 10px 10px  rgba(185, 31, 31, 0.1);
}
.Aroma_Pavl{
    margin-top: -5px;
    position: relative;
    border-radius: 100%;
    box-shadow: 10px 20px 10px 10px  rgba(229, 233, 26, 0.2);
}
.Rock_Devian{
    margin-top: -5px;
    border-radius: 100%;
    box-shadow: 10px 20px 10px 10px  rgba(177, 177, 171, 0.2);
}
.taj{
    position: absolute;
   
}
.first-prize{
    margin-top: -10px;
}
.third-prize,.Second-prize{
    margin-top: 50px;
}
.saiima_westro{
    background-color: rgba(252, 252, 252, 1);
    border-radius: 10px;
   padding: 5px;
   display: flex;
   margin: 10px;
}
.saiima{
    width: 20%;
}
.views{
     display: flex;
     margin-left: auto;
     margin-top: auto;
}

/* category */

.category,.topics,.uploads{
    background: rgba(255, 255, 255, 1);
    padding: 3px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}
.pcm,.laws,.dates{
    background-color:rgba(243, 243, 243, 1);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.heading{
    padding-left: 20px;
}
.videos_container{
    background-color:#E5E5E5; 
}
.Learning_videos{
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}
.vdo_heading{
    padding: 3px;
    
}
.para_heading{
    margin-left: 10px;
}
@media (max-width:500px) {
    .Learning_videos{
        display: block;
    }
}
.sign-in-btn{
   margin-right: 50px;
}

.sign-up-btn{
    margin-left: 20px;
    margin-right: 10px;
}
@media (max-width:1020px) { 
    .sign-in-btn{
        margin-right: 0px;
    }
    
}
.main_container{
    background-color:#E5E5E5;
  
}
/* .python_bcg{
   position: relative;

} */
/* s */
.vdo_btn{
    position: relative;
}
/* .paly_btn{
    position: absolute;
    top: 38%;
    left: 46%;
    width: 10%;
}  */
.paly_btn{
    position: absolute;
    top: 40%;
    left: 44%;
    width: 10%;
}
.Play_Button{
    width: 90%;
    cursor: pointer;
}
.blue_bcg{
    position: relative;
    background: #3A7CB4;
    display: flex;
    justify-content: end;
}
.learn_quantaum{
    position: absolute;
    bottom: -4%;
    margin-left: 20px;
}
.quantaum{
    color: rgba(255, 255, 255, 1);
    font-size: 8px;
    margin-bottom: 5px;
}
.learning{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin-bottom: 5px;
}
.leanning_para{
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
    padding-bottom: 10px;
}
.percantage{
    position: absolute;
    bottom: 12px;
    right: 8px;
}
.percantage_seven{
    width: 60%;
}
@media (max-width:500px) {
    .leanning_para,.learning,.quantaum,.learn_quantaum{
        font-size: 5px;
        margin-left: 5px;
    }
}

.language_items{
    display: flex;
    flex-wrap: wrap;
    
}
.Python,.Html5,.Css,.JavaScript,.Csss{
    width: 230px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
@media (max-width:500px) {
    .Python,.Html5,.Css,.JavaScript,.Csss{
        width: 100%;
        margin-right: 0px;
    }
    .language_items{
       
    }
}

/* .{
    width: 230px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
}
.{
    width: 200px;
    height: 130px;
    background-color: olivedrab;
    background: url(./images/python.png) no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 10px;
     margin-right: 10px;
    margin-top: 10px;
} */


/* .python_div{
    position: absolute;
    bottom: -4%;
    margin-left: 20px;
}
.python_Heading{
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    margin-bottom: 5px;
}
.pythong_para{
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    padding-bottom: 10px;
} */
.one,.two{
    display: flex;
}
@media (max-width :500px) {
    .one,.two{
        /* display: block; */
    }
}
.c,.d{
    width: 340px;
    margin-top: 10px;

}
.a,.b{
    width: 340px;
}
.b,.d{
    margin-left: 20px;
}

@media (max-width:980px) {
    .a,.b{
        margin-top: 20px;
    }
}
@media (max-width:500px) {
    .b,.d{
        margin-left: 0;
    }
}
@media (max-width:500px) {
    .b,.d{
        margin-left: 10px;
    }
}
@media (max-width:1529px) {
    .a,.b,.c,.d,.vdo_btn{
        width: 100%; 
              
    } 
    /* .b,.d{
        margin-left: 5px;
    }  */
    .c,.d{
        margin-top: 10px; 
    }
}
.search_boxx{
    position: relative;
    border-radius: 20px;
    border: 2px solid black; background: #EDEDED;
    padding: 10px;
    border: none;
    margin-left: auto;
}
.search_boxxxx{
    border: none;
    color: #868686;
    background-color: transparent; 
} 
.search_iconn{
    position: absolute;
    top: 18px;
    left: 20px;
}
@media (min-width:991px) {
    .ellipse,.search_boxx{
        
    }
    /* .main_container{
        padding: 0px 0px 0px 0px !;
    } */
}
@media (max-width:500px) {
    .search_boxxxx{
        width:70px
    }  
}
.login_box{
   color: cornsilk;
    border-radius: 10px;
    outline: none;
    /* width: 250px; */
    justify-content: center;
}
.login_box{
    display: flex;
    margin-top: auto;
    justify-content: space-around;
}
.loginn_btn{
   
}
/* .sign_btn{
  background-color: white;
 margin-right: -100px;
 margin-top: 0px;

} */
.modal-content{
    justify-content: center !important;
    background-color:#4456b8 !important;
    /* width : 70% !important; */
}
@media (max-width:400px) {
    .modal-content{
    /* width: 100% !important; */
}
}
.login_sign{
    justify-content: center;
    margin-bottom: 20px;
    
}
.loginn_btn,.sign_btn{
cursor: pointer;
}
.login_otp_btn{
    /* width: 40%; */
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: rgba(98, 70, 254, 1);
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
}
.otp_btn{
   text-align: center;
   margin-top: 20px;
}
.social_logo{
    display: flex;
    justify-content: center;  
}
.social{
    width: 45px;
}
.teacher,.student{
    color: white;
    margin-bottom: 10px;
    margin-left: 5px;
    
}
.radio_btn_student{
    margin-left: 5px;
   
}
.login_as,.Enter-veri{
    color: white;
    font-weight: normal;
    font-size: 12px;
}
.wrong-pass{
    color: rgba(252, 127, 127, 1);
    font-size: 12px;
}
.google,.facebook,.in{
    margin: 10px;
    cursor: pointer;
}
.login_other{
    margin-top: 20px;
    color: white;
}
.mob_email{
    background-color: rgba(73, 46, 228, 1) !important;
    margin-top: 10px;
}
.mob_email::-webkit-input-placeholder {
    color: rgb(255, 255, 255)!important;
    opacity: 3!important;
    font-size: 15px;
}
.User_email,.User_Password{
    border: none !important;
    position: relative;
}
.password_div{
    position: relative;
}
.eye_div{
    position: absolute;
    right: 32px;
    top: 226px;
}
.check_btn{
    margin-top: 10px; 
}
.sign_btnnn{
    text-align: center;
   margin-top: 20px;
}
.signnn_up{
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: rgba(98, 70, 254, 1);
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;  
}
.condintion{
    font-size: 15px;
    color: white;
    margin-left: 5px;
    margin-top: -2px;
}
.time_boxes{
    justify-content: space-around;
}
.six_box{
    /* width: 50px;
    height: 50px; */
    padding:  10px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    /* margin-right: 20px; */
    vertical-align: middle;
    color: white;
    background-color: rgba(73, 46, 228, 1);
}

.resend_otp{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: white;
    font-size: 12px;
}
.resend_it{
    cursor: pointer;
    color: white;
}